<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/assets/css">
</head>

<body>
    <div class="container" style="padding-top: 20%;padding-right: 20%;padding-left: 20%;">
        <div class="card">
            <div class="card-body" style="padding-right: 20%;">
                <h4 class="card-title">WELCOME TO SCHEDULER</h4>
                <h6 class="text-muted card-subtitle mb-2">LOG IN OR SIGN-UP</h6><a class="card-link" href="/auth/google">Link</a><a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a></div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>