<html>

<head>
    {{>header}}
</head>

<body>
    <!-- Start: Navigation with Search -->
    
    <!-- End: Navigation with Search -->
    
    <div class="container">
        <h1>Welcome, {{firstName}}!</h1>
    </div>
    <!-- Start: 1 Row 1 Column -->
    <div style="margin-left: 0;margin-right: 0;padding: 6px;padding-left: 27px;padding-right: 54px;"></div>
    <!-- End: 1 Row 1 Column -->
     <div class="container">
        {{#user_courses}}
        <div class="card"></div>
    </div>
    <!-- Start: 1 Row 2 Columns -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" style="box-shadow: 1px 1px 7px 1px;">
                            <div class="progress d-lg-flex justify-content-lg-start" style="max-width: 100%;min-width: 25%;width: 288px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                            </div>
                            <h4 class="card-title">Coursework: {{coursework}}</h4>
                            <h6 class="text-muted card-subtitle mb-2">Module: {{module}}</h6>
                            <h6 class="text-muted card-subtitle mb-2">Milestones</h6>
                            <ol id="list_milestones">
                                <li>{{milestones [0]}}</li> 
                            </ol>
                            <a class="card-link" href="#">Edit/Update</a><a class="card-link" href="#">Delete</a></div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: 1 Row 2 Columns -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    {{/user_courses}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>